<div align='center'>
        <mat-card >
             <mat-card-header>
                <mat-card-title style="text-align:center; text-justify: center;">About me</mat-card-title>
              </mat-card-header>
            <mat-card-content>
                 <p>
                    <img mat-card-image src="assets/lily.jpg" alt="">
                        Hey! Thanks, for stopping by, I hope you've enjoyed this app.
                        <br>
                        It was created with Laravel 6. as a back-end with a MySQL database and 
                        Angular 8 for the front-end.
                        <br>
                        To enhance the UI: I've used Material Design for angular.
                        <br>
                        To enhance the UX: I've used the resolver route guard for pre-fetching data before 
                        route enter and angular routing animations.
                 </p>  
            
                  Say hi:
                  <a href="https://twitter.com/nezlicodes" target="_blank" class="color:black">twitter </a>
                  <a href="https://github.com/nezlicodes" target="_blank"  class="color:black">github</a>
                </mat-card-content>
            </mat-card>
    </div>

    
