<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




<mat-toolbar color="primary">

  <div fxShow="true" fxHide.gt-sm="true">
    <div class="btn-right">
    <mat-icon href="#"  style="padding-right: 1em ;" (click)="sidenav.toggle()">menu</mat-icon>
  </div>
  </div>
    <span  routerLink="/" style="cursor: pointer;">Task Manager</span>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <button routerLink="/tasks" mat-button>Tasks</button>
      <button routerLink="/about" mat-button>About</button>
    </div>


</mat-toolbar>
<mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column" >

      <div fxLayout="column">

        <button (click)="sidenav.toggle()" href="#" mat-button>Close</button>
        <button routerLink="/tasks" mat-button>Tasks</button>
        <button routerLink="/about" mat-button>About</button>

      </div>

    </mat-sidenav>

    <mat-sidenav-content fxFlexFill><router-outlet></router-outlet></mat-sidenav-content>

</mat-sidenav-container>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


